pygame==2.5.2
-e git+https://github.com/mcfletch/pyopengl@29b79e8966ba2930a5c44829b02dffc1ca600752#egg=PyOpenGL
-e git+https://github.com/mcfletch/pyopengl@29b79e8966ba2930a5c44829b02dffc1ca600752#egg=PyOpenGL_accelerate&subdirectory=accelerate
